<div class="blog-sidebar">
    <div class="blog-sidebar-header">
        <div class="headshot" style="background-image: url('{{ site.featured_image }}');">

        </div>
    </div>
    <div class="blog-sidebar-content">
        <h6 class="text-blue">
            About Me... The Author...
        </h6>
        <p>
            Of this entire site. So I don't know why I'm including this sidebar, but it's good for SEO since it's content tied into the site description, and my name.
        </p>
        <h6 class="text-blue">
            Really the site description
        </h6>
        {{ site.description }}
    </div>
</div>